/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

.wrapper{
	width: 100%;
	height: 100%;
}
.container{
	max-width: 1110px;
	margin:0 auto;
}
						/*Header*/
.header {
	width: 100%;
	padding-top: 51px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header__row {
	display: flex;
	justify-content: space-between;
}
.header__link {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	margin-right: 63px;
}
.header__tell {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}
.header__line {
	width: 119px;
	height: 0;
	border: 1px solid #D1A954;
	margin-top: 5px;
}
						/*Intro*/
.intro {
	width: 100%;
	position: relative;
	min-height: 100vh;
	background-image: url("img/bg.jpg");
	color: #fff;
}
.intro__row {
	display: flex;
	position: absolute;
	top: 50%;

}
.text__title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 64px;
	font-weight: 700;
	text-transform: uppercase;
}
.text__subtyitle {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.afisha {}
.intro__btn{
	background-color: #D1A954;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 47px;

}
.img_1 {
	position: absolute;
	bottom: -20%;
	left: 150%;
	z-index: 100;
}
.img_2 {
	position: absolute;
	bottom: -13%;
	left: 146%;
	z-index: 400;
}
.listovka__row {
	display: flex;
	position: absolute;
	bottom: -35%;
	left: 147%;
	z-index: 400;
}
.txt {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	margin-left: 25px;
	margin-right: 25px;
}
.txt-first{
	margin-right: 134px;
}
.list__link{
	color: #fff;
}

										/*About*/
.block {
	background-color: rgb(20%, 20%, 20%, 1);;
	padding-top: 150px;
	color: #fff;
}
.block span{
	color: #D1A954;
}
.title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
	margin-bottom: 100px;
}
.about__row {
	display: flex;
	justify-content: space-between;
}
.about__subtitle {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;

}
.icon {
	margin-bottom: 15px;
}
.infa {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 28px;
}
.infa span{
	color: #D1A954;
}
								/*Performances*/
.title__next{
	margin-top: 150px;
}
.performances {}
.performances__row {
	display: flex;
	width: 1770px;
	height: 550px;
}
.performances__picture{
	min-width: 25%;
	position: relative;
	height: 550px;
}
.performances__picture-1 {
	background-image: url("img/imag_1.jpg");
}
.performances__picture-2 {
		background-image: url("img/imag_2.jpg");
}
.performances__picture-3 {
		background-image: url("img/imag_3.jpg");
}
.performances__picture-4 {
		background-image: url("img/imag_4.jpg");
}
.lupa{
	position: absolute;
	top: 40%;
	left: 38%;
	display: none;
}
.name {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 40px 0 0 40px;
}
.date {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	bottom: 80px;
	left: 0;
	-webkit-transform: rotate(-90deg); //Chrome, Safari
	-moz-transform: rotate(-90deg); //Firefox
	-o-transform: rotate(-90deg); //Opera
	-ms-transform: rotate(-90deg); //IE
	transform: rotate(-90deg); //браузеры без префексов
	
}
    							/*Review*/
.review {
	width: 100%;
	min-height: 800px;
}
.main-block {
	width: 100%;
	height: 550px;
	background-image: url('img/imag_5.png');
	background-size: contain;
	margin-top: 150px;
}
.review__row {
	display: flex;
}
.year {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 72px;
	font-weight: 700;
	line-height: 98px;
	color: #D1A954;
	margin-top: 126px;
	margin-right: 103px;
	margin-left: 190px;
}.stars {
	margin-top: 171px;
}
.review__text {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	line-height: 54px;
	margin-top: 25px;
	font-weight: 700;
}
						/*Partners*/
.partners {}
.title {}
.partners__row:first-child {
	margin-top: 20px;
}
.partners__block {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}
.partners__img {}
      							/*Footer*/
.footer {
	margin-top: 120px;
}
.footer__row {
	display: flex;
	justify-content: space-between;
}
.footer__cintacts {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;

}
.footer__phone {
	margin-bottom: 25px;
}
.footer__email {
	margin-bottom: 25px;
}
.footer__adress {}
.footer__form {
	display: flex;

}
.form_1 {
	width: 210px;
	mar
}
.form_2 {
	width: 210px;
}
.form_3 {
	width: 210px;
}
.footer__downblock {
	display: flex;
	justify-content: space-between;
}
.footer__text {
	color: #989898;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin-bottom: 80px;

}
.footer__bottom {}
.footer__btn{
	background-color: #D1A954;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	padding: 10px 30px;

}
input{
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
	margin-right: 30px;
	font-size: 12px;
	width: 180px;
	height: 32px;
	padding: 0 10px;
	background-color: #444444;
	border: 1px solid #616161;
	color: #fff;
}

.footer__line{
	width: 100%;
	height: 1px;
	background-color: #565656;
}
.footer__end{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #989898;

	line-height: 40px;
}
.textares{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 0 10px;
	background-color: #444444;
	padding-top: 5px;
	border: 1px solid #616161;
	color: #fff;
	max-height: 95px;
}